* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input, button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header {
  height: 48px;
  background: #3578E5;
}


header#main-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  color: #FFF;
}

header#main-header .content p img {
  height: 21px;
  width: 21px;
  margin-left:5px;
}

header#main-header .content p {
  display: flex;
  align-items: center;
}



